[submodule "submodules/websocket_client_ts"]
	path = submodules/websocket_client_ts
	url = git@github.com:vasic-digital/WebSocket-Client-TS.git
[submodule "submodules/ui_components_react"]
	path = submodules/ui_components_react
	url = git@github.com:vasic-digital/UI-Components-React.git
[submodule "submodules/challenges"]
	path = submodules/challenges
	url = git@github.com:vasic-digital/Challenges.git
[submodule "submodules/assets"]
	path = submodules/assets
	url = git@github.com:vasic-digital/Assets.git
[submodule "submodules/concurrency"]
	path = submodules/concurrency
	url = git@github.com:vasic-digital/Concurrency.git
[submodule "submodules/config"]
	path = submodules/config
	url = git@github.com:vasic-digital/Config.git
[submodule "submodules/filesystem"]
	path = submodules/filesystem
	url = git@github.com:vasic-digital/Filesystem.git
[submodule "submodules/database"]
	path = submodules/database
	url = git@github.com:vasic-digital/Database.git
[submodule "submodules/auth"]
	path = submodules/auth
	url = git@github.com:vasic-digital/Auth.git
[submodule "submodules/middleware"]
	path = submodules/middleware
	url = git@github.com:vasic-digital/Middleware.git
[submodule "submodules/rate_limiter"]
	path = submodules/rate_limiter
	url = git@github.com:vasic-digital/RateLimiter.git
[submodule "submodules/observability"]
	path = submodules/observability
	url = git@github.com:vasic-digital/Observability.git
[submodule "submodules/media"]
	path = submodules/media
	url = git@github.com:vasic-digital/Media.git
[submodule "submodules/watcher"]
	path = submodules/watcher
	url = git@github.com:vasic-digital/Watcher.git
[submodule "submodules/event_bus"]
	path = submodules/event_bus
	url = git@github.com:vasic-digital/EventBus.git
[submodule "submodules/cache"]
	path = submodules/cache
	url = git@github.com:vasic-digital/Cache.git
[submodule "submodules/security"]
	path = submodules/security
	url = git@github.com:vasic-digital/Security.git
[submodule "submodules/storage"]
	path = submodules/storage
	url = git@github.com:vasic-digital/Storage.git
[submodule "submodules/streaming"]
	path = submodules/streaming
	url = git@github.com:vasic-digital/Streaming.git
[submodule "submodules/discovery"]
	path = submodules/discovery
	url = git@github.com:vasic-digital/Discovery.git
[submodule "submodules/entities"]
	path = submodules/entities
	url = git@github.com:vasic-digital/Entities.git
[submodule "submodules/media_types_ts"]
	path = submodules/media_types_ts
	url = git@github.com:vasic-digital/Media-Types-TS.git
[submodule "submodules/catalogizer_api_client_ts"]
	path = submodules/catalogizer_api_client_ts
	url = git@github.com:vasic-digital/Catalogizer-API-Client-TS.git
[submodule "submodules/auth_context_react"]
	path = submodules/auth_context_react
	url = git@github.com:vasic-digital/Auth-Context-React.git
[submodule "submodules/media_browser_react"]
	path = submodules/media_browser_react
	url = git@github.com:vasic-digital/Media-Browser-React.git
[submodule "submodules/dashboard_analytics_react"]
	path = submodules/dashboard_analytics_react
	url = git@github.com:vasic-digital/Dashboard-Analytics-React.git
[submodule "submodules/media_player_react"]
	path = submodules/media_player_react
	url = git@github.com:vasic-digital/Media-Player-React.git
[submodule "submodules/collection_manager_react"]
	path = submodules/collection_manager_react
	url = git@github.com:vasic-digital/Collection-Manager-React.git
[submodule "submodules/containers"]
	path = submodules/containers
	url = git@github.com:vasic-digital/Containers.git
[submodule "submodules/lazy"]
	path = submodules/lazy
	url = git@github.com:vasic-digital/Lazy.git
[submodule "submodules/memory"]
	path = submodules/memory
	url = git@github.com:vasic-digital/Memory.git
[submodule "submodules/recovery"]
	path = submodules/recovery
	url = git@github.com:vasic-digital/Recovery.git
[submodule "submodules/helix_qa"]
	path = submodules/helix_qa
	url = git@github.com:HelixDevelopment/HelixQA.git
[submodule "submodules/doc_processor"]
	path = submodules/doc_processor
	url = git@github.com:HelixDevelopment/DocProcessor.git
[submodule "submodules/llm_orchestrator"]
	path = submodules/llm_orchestrator
	url = git@github.com:HelixDevelopment/LLMOrchestrator.git
[submodule "submodules/llm_provider"]
	path = submodules/llm_provider
	url = git@github.com:HelixDevelopment/LLMProvider.git
[submodule "submodules/vision_engine"]
	path = submodules/vision_engine
	url = git@github.com:HelixDevelopment/VisionEngine.git
[submodule "submodules/screen_diff"]
	path = submodules/screen_diff
	url = git@github.com:vasic-digital/ScreenDiff.git
[submodule "submodules/replay_buffer"]
	path = submodules/replay_buffer
	url = git@github.com:vasic-digital/ReplayBuffer.git
[submodule "submodules/visual_regression"]
	path = submodules/visual_regression
	url = git@github.com:vasic-digital/VisualRegression.git
[submodule "submodules/training_collector"]
	path = submodules/training_collector
	url = git@github.com:vasic-digital/TrainingCollector.git
[submodule "submodules/constitution"]
	path = submodules/constitution
	url = git@github.com:HelixDevelopment/HelixConstitution.git
[submodule "submodules/helix_memory"]
	path = submodules/helix_memory
	url = git@github.com:HelixDevelopment/HelixMemory.git
[submodule "submodules/superspec"]
	path = submodules/superspec
	url = git@github.com:WangX0111/superspec.git
