# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
coverage.out

# Go workspace file
go.work

# Databases
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Challenge result files
result_*.json